/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --background-color: #070707;
  --white-color: #909090;
  --loader-color: #b32525;
  --default-text-color: #e1e1e1;
  --default-font: "Open Sans", serif;
  --background: #5d5d5d;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-bg-color: #1b1b1b; 
  --navbar-dark-secondary: #292929;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #8392a5;
  --navbar-text-color: #FFFFFF; 
}

html {
  background: var(--background-color);
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background-color: #212121;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--navbar-light-primary);
}

body {
  background: var(--background-color);
  color: var(--default-text-color);
}

.web-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  transition: opacity 780ms, visibility 780ms;
  z-index: 100;
}

.web-loader::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 15px solid var(--white-color);
  border-top-color: var(--loader-color);
  border-bottom-color: var(--loader-color);
  border-radius: 50%;
  animation: loading 750ms ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* hide loader */
.web-loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/* navbar */
#nav-toggle:checked ~ #nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}

#nav-toggle:checked ~ #nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--navbar-text-color);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before,
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--loader-color);
  transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}

#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox,
#nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--navbar-bg-color); 
  display: flex;
  flex-direction: column;
  color: var(--navbar-text-color); 
  font-family: var(--default-font);
  overflow: hidden;
  user-select: none;
  z-index: 100;
}
#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px #e0e0e0; 
}
#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}
#nav-bar input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-bg-color);
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 3px;
  background: var(--navbar-bg-color); 
  border-radius: 99px;
  transition: background 0.2s;
}

#nav-toogle-burger,
#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 3px;
  background: var(--loader-color);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;

}

#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-bg-color); 
  box-shadow: 0 0 0 16px var(--navbar-bg-color); 
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: var(--loader-color);
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: #cfcfcf; 
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}
.nav-button span {
  transition: opacity 100ms, color 100ms;
  display: block;
  width: 100%;
}

.nav-button span:hover {
  color: var(--navbar-text-color);
}

.nav-button .fas {
  transition: min-width 0.2s;
}

.nav-button:nth-of-type(1):hover {
  color: var(--navbar-text-color);
}
.nav-button:nth-of-type(2):hover {
  color: var(--navbar-text-color);
}
.nav-button:nth-of-type(3):hover {
  color: var(--navbar-text-color);
}
.nav-button:nth-of-type(4):hover {
  color: var(--navbar-text-color);
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

/* Main Content */
main {
    margin-left: 50px; /* add space */
    font-family: "Afacad Flux", serif;
    color: var(--default-text-color);
}